{
  "presets": [
    "env",
    "react",
    [
      "latest",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "imports": "./imports",
          "config": "./config"
        }
      }
    ],
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
